@use 'variables';

$kendo-color-primary: $primary-color;
$kendo-color-secondary: $secondary-color;
$kendo-color-tertiary: $tertiary-color;

$kendo-color-error: $error-color;
$kendo-color-info: $info-color;
$kendo-color-success: $success-color;
$kendo-color-warning: $warning-color;
