$shelf-window-padding: 15px;

.kendo-window {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  transform: rotate(180deg);
  z-index: 99;
}

.shelf-window:not(.k-window-maximized) {
  width: var(--shelf-window-width) !important;
  height: var(--shelf-window-height) !important;
  transform: rotate(180deg) var(--shelf-window-transform) !important;
}

.k-window-maximized {
  top: $shelf-window-padding !important;
  left: $shelf-window-padding !important;
  width: calc(100dvw - ($shelf-window-padding * 2)) !important;
  height: calc(100dvh - ($shelf-window-padding * 2)) !important;
  box-shadow: 22px 0px 0px 147px rgba(0, 0, 0, 0.28) !important;
}

.grid-borderless {
  .k-table-th {
    border: none !important;
  }
  .k-table-td {
    border: none !important;
  }

  &.k-grid {
    border-inline: none !important;
    border-top: none !important;
  }
}

.raven-custom-dialog {
  .k-window-content {
    padding: 0 !important;
  }
}

.k-dialog-actions {
  border-color: rgba(0, 0, 0, 0.08) !important;
}
