$primary-color: #00a59b;
$secondary-color: #002c3c;
$tertiary-color: #9bcbeb;

$error-color: #f31700;
$info-color: #0058e9;
$success-color: #37b400;
$warning-color: #ffc000;

:root {
  // APP MAIN COLORS
  --rv-primary: #{$primary-color};
  --rv-secondary: #{$secondary-color};
  --rv-tertiary: #{$tertiary-color};

  --rv-error: #{$error-color};
  --rv-info: #{$info-color};
  --rv-success: #{$success-color};
  --rv-warning: #{$warning-color};

  --rv-base-border-radius: 4px;
  --rv-sm-border-radius: 2px;
  --rv-bg-border-radius: 6px;

  // BUTTONS
  --rv-primary-button-bg: #00a59b;
  --rv-button-text-20: #002c3c;

  // RAVEN COLORS

  --series-b: #004b66;
  --series-f: #d84661;

  --series-a-darken-75: #00ccbebf;
  --series-g-darken-75: #d281d9bf;
  --series-d-darken-75: #77b8e4bf;
  --series-e-darken-75: #f0882dbf;

  --informational-success: #12861e;
  --informational-success-50: #12861e80;
  --informational-warning: #ffbf1f;
}
