{
  "singleQuote": true,
  "importOrder": [
    "@angular",
    "@ngrx",
    "rxjs",
    "@app",
    "state",
    "pages",
    "components",
    "toolbar",
    "./"
  ],
  "importOrderSeparation": true,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "htmlWhitespaceSensitivity": "ignore"
}
