<div class="upload-file">
  <input
    class="upload-file__input"
    type="file"
    #fileUpload
    (change)="handleFileUpload($event)"
    [ngClass]="{ 'upload-file__input--hidden': buttonOnly }"
    [multiple]="multiple"
    [disabled]="isPending"
    [accept]="accept"
    title=""
  />

  <ng-container *ngIf="!buttonOnly; else uploadButton">
    <div class="upload-file__content">
      <ng-container *ngIf="isPending; else uploadFile">
        <ui-loader info="Uploading ..."></ui-loader>
      </ng-container>

      <ng-template #uploadFile>
        <i class="{{ icon }} upload-file__icon"></i>

        <div *ngIf="error" class="upload-file__error">{{ error }}</div>

        <h2 class="upload-file__title" *ngIf="title">{{ title }}</h2>

        <h3 class="upload-file__info">
          Drag and Drop from your computer, or click the <br />button below to
          see upload options
        </h3>
        <ui-button
          (btnClick)="handleOpenUploadDialog()"
          [prefixIcon]="buttonPrefixIcon"
          >{{ buttonInfo }}</ui-button
        >
      </ng-template>
    </div>
  </ng-container>

  <ng-template #uploadButton>
    <ui-button
      (btnClick)="handleOpenUploadDialog()"
      [prefixIcon]="buttonPrefixIcon"
      [disabled]="isPending"
      >{{ buttonInfo }}</ui-button
    >
  </ng-template>
</div>
