<div class="bad-gateway">
  <i class="fa-solid fa-triangle-exclamation"></i>

  <h1 class="bad-gateway__title">Error connecting to the server</h1>

  <div class="bad-gateway__info">
    Possible reasons for this error:

    <ul>
      <li>The application is restarting</li>
      <li>The application is down temporarily</li>
    </ul>

    Please reload page to try again, or contact our team at:

    <a href="mailto:GPTsupport@curvestone.io">GTPsupport@curvestone.io</a>
  </div>

  <a href="/" class="bad-gateway__link">Back to Home</a>
</div>
