<aside class="nav-aside">
  <div class="nav-aside__actions">
    <div class="nav-aside__routes" kendoTooltip>
      <button
        kendoButton
        iconClass="fa-solid fa-square-plus"
        themeColor="primary"
        size="large"
        class="mb-10"
        title="New Note"
        (click)="handleOpenNotepad()"
      ></button>

      <ul>
        <li *ngFor="let route of routes">
          <button
            class="action"
            [ngClass]="{
              disabled: route.disabled,
              active: route.exact
                ? activeUrl === route.path
                : activeUrl.includes(route.path)
            }"
            [disabled]="route.disabled"
            [title]="route.name"
            (click)="handleOpenSubRoute(route)"
          >
            <i class="{{ route.icon }}"></i>
          </button>
        </li>
      </ul>
    </div>

    <div class="flex items-center justify-center" kendoTooltip>
      <button
        kendoButton
        class="h-8 w-8 text-base font-bold"
        [style.background-color]="'#00a59b'"
        (click)="handleToggleUserDetails()"
        themeColor="primary"
        rounded="full"
        [title]="activeUser"
      >
        {{ userInitials }}
      </button>
    </div>
  </div>

  <div class="nav-aside__content content" [@collapse] *ngIf="isOpen()">
    <button
      class="content__toggle"
      type="button"
      aria-label="Toggle Sidebar"
      (click)="handleToggleSidebar()"
    >
      <i class="fa-solid fa-circle-chevron-left"></i>
    </button>
    <div class="content-info" [@collapse] *ngIf="isOpen()">
      <div class="menu" *ngIf="!!subRoutes; else mainMenu">
        <button
          type="button"
          class="menu__item menu__item--back"
          (click)="handleGoBackToMainMenu()"
        >
          <i class="fa-solid fa-arrow-left"></i>
          Main Menu
        </button>

        <div class="menu__routes">
          <div class="menu__item menu__item--title">
            {{ openRoute()?.name }}
          </div>

          <ul *ngFor="let subRoute of subRoutes">
            <li>
              <a
                [routerLink]="subRoute.disabled ? null : subRoute.path"
                [ngClass]="{ 'menu__item--disabled': subRoute.disabled }"
                [routerLinkActiveOptions]="{ exact: subRoute.exact || false }"
                routerLinkActive="menu__item--active"
                (click)="!subRoute.disabled && handleToggleSidebar(false)"
                class="menu__item"
              >
                <i class="{{ subRoute.icon }}"></i>
                {{ subRoute.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <ng-template #mainMenu>
        <div>
          <button
            kendoButton
            themeColor="primary"
            size="large"
            class="mb-10 w-full"
            iconClass="fa-solid fa-plus"
            (click)="handleOpenNotepad()"
          >
            New Note
          </button>

          <ul class="menu menu--main">
            <li *ngFor="let route of routes">
              <button
                class="menu__item"
                [ngClass]="{
                  'menu__item--disabled': route.disabled,
                  'menu__item--active': route.exact
                    ? activeUrl === route.path
                    : activeUrl.includes(route.path!)
                }"
                [disabled]="route.disabled"
                (click)="handleOpenSubRoute(route, true)"
              >
                {{ route.name }}
              </button>
            </li>
          </ul>
        </div>
      </ng-template>
      <div>
        <ul
          class="gap- mb-6 flex flex-col"
          *ngIf="userOptions && visibleUserDetails()"
        >
          <li *ngFor="let option of userOptions">
            <button
              kendoButton
              iconClass="{{ option.icon }} mr-3"
              themeColor="secondary"
              fillMode="clear"
              size="large"
              clas="w-full"
              (click)="option.action && option.action()"
            >
              {{ option.name }}
            </button>
          </li>
        </ul>

        <button
          class="hover:text-primary-500 flex h-8 w-full items-center justify-between gap-4 text-lg !font-normal duration-300"
          [ngClass]="{ 'text-primary-500': visibleUserDetails() }"
          (click)="handleToggleUserDetails()"
        >
          <span class="overflow-hidden text-ellipsis whitespace-nowrap">
            {{ activeUser }}
          </span>
          <i
            class="fa-solid fa-angle-{{ visibleUserDetails() ? 'down' : 'up' }}"
          ></i>
        </button>
      </div>
    </div>
  </div>
</aside>
