<aside
  class="nav-aside"
  [ngClass]="{
    'aside-open': isOpen()
  }"
>
  <ui-toggle-menu-button
    [direction]="isOpen() ? 'right' : 'left'"
    (directionChange)="handleToggleSidebar()"
  />
  <div
    class="nav-aside__actions duration-200"
    [@collapse]
    [ngClass]="{
      'w-20': !isOpen(),
      'w-60': isOpen()
    }"
  >
    <div class="nav-aside__routes p-6 pt-0">
      @if (!isOpen()) {
        <img
          ngSrc="assets/images/raven-logo-icon.png"
          alt="Raven logo"
          width="32"
          height="32"
          class="m-auto mb-8"
        />
        <app-sidebar-action-button
          (newNoteClick)="handleOpenNotepad()"
          (newReminderClick)="handleNewReminder()"
        />
      } @else {
        <img
          ngSrc="assets/images/raven-logo-text.png"
          alt="Raven logo"
          class="m-auto mb-8"
          width="184"
          height="32"
        />
        <button
          kendoButton
          themeColor="primary"
          size="medium"
          class="mb-6 w-full duration-200"
          iconClass="fa-solid fa-notebook"
          (click)="handleOpenNotepad()"
          [@navDelayedFadeIn]
        >
          New Note
        </button>
        <button
          kendoButton
          themeColor="primary"
          size="medium"
          class="mb-6 w-full duration-200"
          iconClass="fa-solid fa-alarm-clock"
          (click)="handleNewReminder()"
          [@navDelayedFadeIn]
        >
          New Reminder
        </button>
      }
      <kendo-popover
        #myPopover
        [width]="'auto'"
        [height]="'auto'"
        [callout]="true"
        [offset]="5"
        [position]="'right'"
        [templateData]="getContextData.bind(this)"
        class="menu-popover"
      >
        <ng-template kendoPopoverTitleTemplate let-anchor let-data="data">
          <div class="menu-popover-header-wrapper" *ngIf="data?.subRoutes">
            <span class="title">{{ data?.name }}</span>
          </div>
        </ng-template>

        <ng-template kendoPopoverBodyTemplate let-anchor let-data="data">
          <div class="popover-hidden-area"></div>
          <div
            class="menu-popover-submenu-content"
            *ngIf="data?.subRoutes; else singleRouteTemplate"
          >
            <ul class="flex flex-col gap-2" [@navDelayedFadeIn]>
              @for (subRoute of data.subRoutes; track subRoute.name) {
                <li>
                  <a
                    [routerLink]="subRoute.disabled ? null : subRoute.path"
                    [ngClass]="{ 'menu__item--disabled': subRoute.disabled }"
                    [routerLinkActiveOptions]="{
                      exact: subRoute.exact || false
                    }"
                    routerLinkActive="menu__item--active"
                    (click)="!subRoute.disabled && handleToggleSidebar(false)"
                    class="menu__item hover:text-primary-500 disable-outline"
                  >
                    <i class="{{ subRoute.icon }}"></i>
                    {{ subRoute.name }}
                  </a>
                </li>
              }
            </ul>
          </div>
          <ng-template #singleRouteTemplate>
            <a
              [routerLink]="data.disabled ? null : data.path"
              [ngClass]="{ 'menu__item--disabled': data.disabled }"
              [routerLinkActiveOptions]="{
                exact: data.exact || false
              }"
              routerLinkActive="menu__item--active"
              (click)="!data.disabled && handleToggleSidebar(false)"
              class="menu__item hover:text-primary-500 disable-outline"
            >
              {{ data.name }}
            </a>
          </ng-template>
        </ng-template>
      </kendo-popover>
      <ul>
        @for (route of routes; track route.name) {
          <li>
            <div
              class="flex flex-row"
              [ngClass]="{
                'mt-8': !isOpen(),
                'mt-6': isOpen()
              }"
            >
              <button
                class="action"
                [ngClass]="{
                  disabled: route.disabled,
                  active: route.exact
                    ? activeUrl()! === route.path
                    : activeUrl()!.includes(route.path)
                }"
                [disabled]="route.disabled"
                (click)="handleOpenSubRoute(route)"
              >
                <span class="action-container">
                  @if (!isOpen()) {
                    <i
                      kendoPopoverAnchor
                      filter="i"
                      [id]="getPopoverId(route)"
                      [popover]="myPopover"
                      [showOn]="'hover'"
                      class="{{ route.icon }}"
                    ></i>
                  } @else {
                    <i class="{{ route.icon }}"></i>
                  }
                  @if (route.badge && route.badge.value) {
                    <kendo-badge rounded="full" themeColor="error">
                      {{ route.badge.value }}
                    </kendo-badge>
                  }
                </span>
                @if (!route.subRoutes && isOpen()) {
                  <span
                    [@navDelayedFadeIn]
                    class="menu-sublink hover:text-primary-500 flex h-8 w-full items-center justify-between gap-4 overflow-hidden text-ellipsis whitespace-nowrap text-lg !font-normal duration-300"
                  >
                    {{ route?.name }}
                  </span>
                }
              </button>
              <div class="menu" *ngIf="isOpen()">
                <div class="menu__routes">
                  <div class="menu__item menu__item--title">
                    @if (route.subRoutes?.length) {
                      <button
                        class="hover:text-primary-500 flex h-8 w-full items-center justify-between gap-4 text-lg !font-normal duration-300"
                        (click)="handleToggleRouteSubroutes(route)"
                        [@navDelayedFadeIn]
                      >
                        <span
                          class="overflow-hidden text-ellipsis whitespace-nowrap"
                        >
                          {{ route?.name }}
                        </span>
                        <i
                          class="fa-solid fa-angle-{{
                            visibleRouteSubroute(route) ? 'down' : 'up'
                          }}"
                        ></i>
                      </button>
                    } @else {}
                  </div>
                  @if (
                    route.subRoutes && isOpen() && visibleRouteSubroute(route)
                  ) {
                    <ul class="flex flex-col gap-2" [@navDelayedFadeIn]>
                      @for (subRoute of route.subRoutes; track subRoute.name) {
                        <li>
                          <a
                            [routerLink]="
                              subRoute.disabled ? null : subRoute.path
                            "
                            [ngClass]="{
                              'menu__item--disabled': subRoute.disabled
                            }"
                            [routerLinkActiveOptions]="{
                              exact: subRoute.exact || false
                            }"
                            routerLinkActive="menu__item--active"
                            (click)="
                              !subRoute.disabled && handleToggleSidebar(false)
                            "
                            class="menu__item"
                          >
                            <i class="{{ subRoute.icon }}"></i>
                            {{ subRoute.name }}
                          </a>
                        </li>
                      }
                    </ul>
                  }
                </div>
              </div>
            </div>
          </li>
        }
      </ul>
    </div>

    <div class="flex flex-col items-center gap-4 p-6 pb-0" kendoTooltip>
      <div class="flex w-full flex-row items-center">
        <button
          class="user-actions flex h-8 w-8 flex-row items-center gap-4 text-base font-bold"
          (click)="handleLogout()"
          title="Logout"
          fillMode="clear"
        >
          <i
            class="fa-solid fa-door-open hover:text-primary-500 h-8 w-8 w-full"
          ></i>
          <span
            class="hover:text-primary-500 flex h-8 w-full items-center justify-between gap-4 text-lg !font-normal duration-300"
            *ngIf="isOpen()"
            [@navDelayedFadeIn]
          >
            Logout
          </span>
        </button>
      </div>

      <div class="flex w-full items-center gap-4">
        <button
          kendoButton
          class="h-8 w-8 gap-4 text-base font-bold"
          [style.background-color]="'#00a59b'"
          (click)="handleToggleUserDetails()"
          themeColor="primary"
          rounded="full"
          [title]="activeUser"
        >
          {{ userInitials }}
        </button>
        <span *ngIf="isOpen()" [@navDelayedFadeIn]>{{ activeUser }}</span>
      </div>
    </div>
  </div>
</aside>
