:host {
  @apply grid h-full;
}

.nav-aside {
  @apply relative grid grid-flow-col shadow-md transition duration-500;

  background-color: #c0e9e6;

  &.aside-open {
    background-color: var(--rv-primary-tooltip);
  }

  &__actions {
    @apply grid items-start justify-center gap-10 py-6;

    grid-template-rows: 1fr auto;
  }

  &__routes {
    @apply text-center;

    ul {
      @apply flex flex-col items-center;

      li {
        width: 100%;
      }
    }
  }

  ui-toggle-menu-button {
    @apply absolute -right-4 z-[1];
    top: 3.5rem;
  }

  .action {
    @apply relative flex cursor-pointer;
    align-items: flex-start;
    color: var(--rv-secondary);

    // margin: 0 auto;
    .action-container {
      position: relative;

      > i {
        @apply flex h-8 w-10 items-center justify-center rounded-md text-3xl;
      }
    }

    span.menu-sublink {
      padding-left: 1rem;
    }

    &:hover {
      .action-container > i,
      > span.menu-sublink {
        @apply duration-300 ease-in-out;

        color: var(--rv-primary-button-bg);
      }
    }

    &.active {
      .action-container > i,
      > span.menu-sublink {
        color: var(--rv-primary-button-bg);
      }
    }

    &.disabled {
      color: var(--rv-secondary);
      filter: opacity(0.2);
      cursor: auto;

      &:hover {
        .action-container > i {
          color: var(--rv-secondary) !important;
        }
      }
    }
  }

  .content {
    @apply relative flex w-60 p-6;

    background-color: #d6f1ef;
  }

  .content-info {
    @apply flex h-full w-48 flex-col justify-between overflow-x-hidden;
  }

  .menu {
    @apply flex flex-col;

    &--main {
      @apply gap-10 font-normal;

      .menu__item {
        @apply text-[1.1875rem];
      }
    }

    &__routes {
      @apply flex flex-col gap-4;
    }

    &__item {
      @apply flex h-8 items-center gap-4 whitespace-nowrap font-normal duration-300 ease-in-out;

      color: var(--rv-secondary);
      filter: opacity(0.9);
      outline: none !important;

      &:focus-visible {
        outline: none;
        border: none;
      }

      &:hover {
        color: var(--rv-primary);
      }

      &--back {
        @apply mt-[0.375rem] cursor-pointer gap-3 text-base font-bold;

        i {
          @apply text-base;
        }
      }

      &--active {
        color: var(--rv-primary);
      }

      &--title {
        @apply h-10 pb-3 text-[1.1875rem];

        padding: 3px 0 11px 1rem;

        border-color: #abe2de;

        &:hover {
          color: var(--rv-secondary);
        }
      }

      &--disabled {
        color: var(--rv-secondary);
        filter: opacity(0.2);

        &:hover {
          color: var(--rv-secondary);
        }
      }
    }
  }

  .user-actions {
    &:hover {
      > i,
      > span {
        color: var(--rv-primary);
      }
    }

    i {
      @apply flex h-8 w-10 rounded-md text-3xl;
    }
  }
}

::ng-deep #newNoteBtn .k-button-text {
  margin-right: auto;
}

h1.raven-logo {
  font-family: Nexa;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 20px;
  text-align: center;
  color: #66666673;
}

.popover-hidden-area {
  height: 100%;
  width: 2rem;
  background: transparent;
  position: absolute;
  top: 0;
  left: -1.5rem;
}

::ng-deep {
  .menu__item--active {
    color: var(--rv-primary);
  }
  .disable-outline {
    &:focus,
    &:focus-visible {
      outline: none;
      border: none;
      // color: var(--rv-primary);
    }
  }

  .menu-popover {
    &-header-wrapper {
      font-size: 1.025rem;
      padding: 1rem 1rem 0 1rem;
    }

    &-submenu-content {
      border-left: 1px solid #002c3c20;
      padding-left: 0.75rem;
      margin: 0 0.75rem 1rem 0.25rem;
    }
  }
}
