@import 'assets/styles/variables';
@import 'assets/styles/kendo-theme';

// When you are finished with your customization, import the theme
@import '@progress/kendo-theme-default/dist/all.scss';

@import 'assets/fontawesome/scss/fontawesome';
@import 'assets/fontawesome/scss/brands';
@import 'assets/fontawesome/scss/solid';
@import 'assets/fontawesome/scss/regular';

// UNCOMMENT THE FOLLOWING LINES TO INCLUDE ALL ICONS
// @import 'assets/fontawesome/scss/light';
// @import 'assets/fontawesome/scss/thin';
// @import 'assets/fontawesome/scss/duotone';
@import 'assets/fontawesome/scss/sharp-solid';

router-outlet.router-flex + * {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

body {
  @apply text-text;

  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 100;
  min-height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
