<div class="kendo-ui-kanban">
  <kendo-sortable
    [disabledIndexes]="[0, 1, 2, 3]"
    [kendoSortableBinding]="palettes"
    [animation]="true"
    class="kendo-ui-kanban__container"
  >
    <ng-template let-palette="item">
      <div class="kendo-ui-kanban__column">
        <div class="kendo-ui-kanban__title title {{ palette.fontColorClass }}">
          <div class="title__name">
            <i class="fa-solid fa-circle"></i>
            {{ palette.name }}
          </div>

          <span class="title__summary"> - {{ palette.data.length }} </span>
        </div>

        <div>
          <kendo-sortable
            [kendoSortableBinding]="palette.data"
            [activeItemStyle]="{
              width: '272px',
              opacity: '0.7'
            }"
            zone="innerZone"
            class="cards-group"
            [animation]="true"
          >
            <ng-template let-opportunity="item">
              <div class="card">
                <app-opportunities-card [data]="opportunity" />
              </div>
            </ng-template>
          </kendo-sortable>
        </div>
      </div>
    </ng-template>
  </kendo-sortable>
</div>
